@page
@model DomainModel
@{
    ViewData["Title"] = "Domaines";
}

<h1>Domaines</h1>
<hr/>
<br/>
<h2>Créer un nouveau domaine</h2>

<form method="post">
    <div class="form-group">
            <label asp-for="DisplayDomain.Domain" class="control-label"></label>
            <input type="text" asp-for="DisplayDomain.Domain" class="form-control" />
            <span asp-validation-for="DisplayDomain.Domain" class="text-danger"></span>
        </div>
    <button type="submit" class="btn btn-primary">Créer</button>
</form>

<br />
<br />
<h2>Domaines ajoutés</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Domains[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domains[0].Domain)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Domains)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Domain)
                </td>
                <td>
                    <form method="post">
                        <button type="submit" class="btn btn-danger" asp-page-handler="delete"
                                asp-route-id="@item.Id">
                            Supprimer
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>