@page
@model QuizModel
@{
    ViewData["Title"] = "Quiz";
}

<h1>Quizs</h1>
<hr/>
<br/>
<h2>Créer un nouveau quiz</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="DisplayQuiz.Quiz" class="control-label"></label>
        <input type="text" asp-for="DisplayQuiz.Quiz" class="form-control" />
        <span asp-validation-for="DisplayQuiz.Quiz" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DisplayQuiz.Duration" class="control-label"></label>
        <input type="number" asp-for="DisplayQuiz.Duration" class="form-control" />
        <span asp-validation-for="DisplayQuiz.Duration" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Créer</button>
</form>

<br />
<br />
<h2>Quizs ajoutés</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quizs[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quizs[0].Quiz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quizs[0].Duration)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Quizs)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quiz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <form method="post">
                    <button type="submit" class="btn btn-danger" asp-page-handler="delete"
                            asp-route-id="@item.Id">
                        Supprimer
                    </button>
                </form>
            </td>
            <td>
                <form method="post">
                    <button type="submit" class="btn btn-secondary" asp-page-handler="questions"
                            asp-route-id="@item.Id">
                        Questions
                    </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>