@using System.IO
@using System
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Queezie</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Queezie</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/About">À propos</a>
                        </li>
                        <li class="nav-item text-dark dropdown" style="border: solid 1px lightgray; border-radius: 7px; margin-left: 1em">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Données
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-page="/Domain">Domaines</a>
                                <a class="dropdown-item" asp-page="/Answer">Réponses</a>
                                <a class="dropdown-item" asp-page="/Question">Questions</a>
                                <a class="dropdown-item" asp-page="/Quiz">Quizs</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="form-inline">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-link text-dark">@ViewData["EndSession"]</li>
                        <li class="nav-link text-dark">@ViewData["ScoreDisplay"]</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 transition-fade" id="swup">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Queezie - <a asp-area="" asp-page="/About">À propos</a> - Dernière build : @File.GetCreationTime(GetType().Assembly.Location).ToLocalTime()
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    <script src="~/js/SwupSlideTheme.js"></script>
    <script>
        const swup = new Swup({
            plugins: [new SwupSlideTheme()]
        });
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
